### Tutorial 1: Getting Table Information
This tutorial will teach you how to retrieve essential table information using SQL and Python. You will learn how to:

- List all the tables in the database.
- Get the schema of a specific table.
- View sample data from a table.

**Prerequisites**
- SQLite installed or accessible via Pythonâ€™s sqlite3 module.
- mmdt.db3 database created using the provided DatabaseHelper class.

In [1]:
import sqlite3
import pandas as pd

# Path to the database
db_path = './database/mmdt.db3'

def list_tables(connection):
    """Lists all tables in the database."""
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    cursor = connection.cursor()
    cursor.execute(query)
    tables = cursor.fetchall()
    print("Tables in the database:")
    for table in tables:
        print(f"- {table[0]}")

def get_table_schema(connection, table_name):
    """Gets the schema of a specified table."""
    query = f"PRAGMA table_info({table_name});"
    cursor = connection.cursor()
    cursor.execute(query)
    schema = cursor.fetchall()    
    column_names = [description[0] for description in cursor.description]
    df_schema = pd.DataFrame(schema, columns = column_names)
    df_schema = df_schema.iloc[:,1:3]
    
    return df_schema

def view_sample_data(connection, table_name, limit=5):
    """Displays sample data from a table."""
    query = f"SELECT * FROM {table_name} LIMIT {limit};"
    cursor = connection.cursor()
    cursor.execute(query)
    rows = cursor.fetchall()
    column_names = [description[0] for description in cursor.description]
    df = pd.DataFrame(rows, columns=column_names)  

    return df

In [2]:
# Connect to the database
with sqlite3.connect(db_path) as conn:
    # List all tables
    list_tables(conn)

    # Get schema for the 'participants' table
    df_schema = get_table_schema(conn, 'participants')

    # View sample data from the 'applications' table
    df = view_sample_data(conn, 'status', limit=5)

df_schema

Tables in the database:
- participants
- status

                                name     type
0                                 ID     TEXT
1                               Time     TEXT
2                           Selected     TEXT
3                                BOD  INTEGER
4                               City     TEXT
5                       State_Region     TEXT
6                            Country     TEXT
7                 Date_Leave_Country     TEXT
8                             Gender     TEXT
9                  Current_Situation     TEXT
10                  Type_of_Internet     TEXT
11                       Device_used     TEXT
12                       School_Name     TEXT
13                   Academic_career     TEXT
14                Pre_Knowledge_Data  INTEGER
15                  Course_Wish_Join     TEXT
16            Dedicate_Learning_Time     TEXT
17       Personal_Professional_Goals     TEXT
18               Reason_Right_Person     TEXT
19  Personal_Professional_Challenges     TEXT
20                            Others     TEXT