### Tutorial 1: Getting Table Information
This tutorial will teach you how to retrieve essential table information using SQL and Python. You will learn how to:

- List all the tables in the database.
- Get the schema of a specific table.
- View sample data from a table.

**Prerequisites**
- SQLite installed or accessible via Python’s sqlite3 module.
- mmdt.db3 database created using the provided DatabaseHelper class.

In [1]:
import sqlite3
import pandas as pd

# Path to the database
db_path = './database/mmdt.db3'

def list_tables(connection):
    """Lists all tables in the database."""
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    cursor = connection.cursor()
    cursor.execute(query)
    tables = cursor.fetchall()
    print("Tables in the database:")
    for table in tables:
        print(f"- {table[0]}")

def get_table_schema(connection, table_name):
    """Gets the schema of a specified table."""
    query = f"PRAGMA table_info({table_name});"
    cursor = connection.cursor()
    cursor.execute(query)
    schema = cursor.fetchall()    
    column_names = [description[0] for description in cursor.description]
    df_schema = pd.DataFrame(schema, columns = column_names)
    df_schema = df_schema.iloc[:,1:3]
    
    return df_schema

def view_sample_data(connection, table_name, limit=5):
    """Displays sample data from a table."""
    query = f"SELECT * FROM {table_name} LIMIT {limit};"
    cursor = connection.cursor()
    cursor.execute(query)
    rows = cursor.fetchall()
    column_names = [description[0] for description in cursor.description]
    df = pd.DataFrame(rows, columns=column_names)  

    return df

In [2]:
# Connect to the database
with sqlite3.connect(db_path) as conn:
    # List all tables
    list_tables(conn)

    # Get schema for the 'applications' table
    df_schema = get_table_schema(conn, 'applications')

    # View sample data from the 'applications' table
    df = view_sample_data(conn, 'applications', limit=5)

df.head(5)

Tables in the database:
- applications
- participants

,Time,Name,Selected,BOD,City,State_Region,Country,Date_Leave_Country,Gender,Current_Situation,...,School_Name,Academic_career,Contact,Pre_Knowledge_Data,Course_Wish_Join,Dedicate_Learning_Time,Personal_Professional_Goals,Reason_Right_Person,Personal_Professional_Challenges,Others
0,7/20/2024 0:41,Thae Su Mar,waiting list,1990,Winnipeg,Others,Outside Myanmar,7/25/2023,Female,Unemployed,...,Pakokku University,Graduate (Degree holder),(+1)204-698-9358,0,Associate Data Analyst in SQL,3-5 hours/week,"By the end of this program, I aim to transitio...",I am passionate about data analysis and have a...,Adapting to a data-focused role without prior ...,I have a strong analytical mindset and a prove...
1,7/20/2024 0:52,Nu Wai Thet,Yes,1992,Mandalay,Mandalay,Myanmar,1/1/2030,Female,Women in Tech project (Women who became unempl...,...,NTU(Singapore),Graduate (Degree holder),09-777746130,1,Machine Learning,more than 5 hours/week,I would like to be data scientist. I am doing ...,I am deeply passionate about pursuing a career...,"As an introvert, I often find it challenging t...",A friendly person who just want to be happy
2,7/20/2024 0:54,Hon Saw,No,2004,Sagaing,Mandalay,Myanmar,10/10/2027,Female,University student (who temporarily paused lea...,...,Mandalay university of foreign languages (last...,Undergraduate Student,9.59979E+11,2,Data Analytics using Python,1-2 hour/week,I wanna contribute to my community by sharing ...,"To compare with the youths in my hometown, the...",I left my family to be safe for us. It is not ...,I really interested in Data analysis. In this ...
3,7/20/2024 1:09,Wai Yan Tun Oo,No,1999,Yangon,Yangon,Myanmar,1/1/2030,None,"Unemployed, Migrants (Leave the country due to...",...,West Yangon University,Undergraduate Student,t.me/mgskymm,2,Data Scientist using Python,3-5 hours/week,As a 26-year-old mathematics student intereste...,"As a mathematics student, I have a strong foun...",None,None
4,7/20/2024 1:24,Thandar Zaw,Yes,1999,Yangon,Yangon,Myanmar,1/1/2030,Female,University student (who temporarily paused lea...,...,"University of Computer Studies, Yangon",Undergraduate Student,9262618704,3,Associate Data Analyst in SQL,2-3 hours/week,"After the attending of this program, I hope I ...",Currently I working as a consultant like busin...,Now I'm facing the difficult about my work. I ...,Currently No