### Tutorial 2: Retrieving Data
This tutorial will teach you how to retrieve data. You will learn how to:


#### Objectives
- Perform basic `SELECT` queries
- Filter data using the `WHERE` clause
- Retrieve specific columns
- Sort and limit results
- Use various operators to refine queries
---

- **Q.1**: Connect to the given database `mmdt.db3` and list all the columns in the `applications` table.  
- **Q.2**: Retrieve the `Name`, `City`, and `State_Region` of all applicants.  
- **Q.3**: Select the names and academic careers of applicants from the table.  
- **Q.4**: Retrieve the `Name` and `Contact` information of all applicants who provided a valid contact.  
- **Q.5**: Retrieve the names of applicants who have been selected (`Selected = 'Yes'`).  
- **Q.6**: Find the applicants who use a specific type of internet connection, such as "Wi-Fi."  
- **Q.7**: List all applicants who are leaving their country before `2021-02-01`.  
- **Q.8**: Retrieve the names of applicants who dedicate more than 4 hours daily to learning.  
- **Q.9**: Find the names and reasons of applicants who believe they are the "right person" for the program.  
- **Q.10**: Group the applicants by their gender and count the number of applicants in each group.  
- **Q.11**: Group the applicants by the type of device they use (`Device_used`) and display the count for each type.  
- **Q.12**: Group the applicants by their academic career (`Academic_career`) and count how many are in each category.  
- **Q.13**: Group the applicants by their current situation (`Current_Situation`) and display the number of applicants in each group.

In [1]:
import sqlite3
import pandas as pd

# answer for Q1. In this example, I demonstrate 

db_path = './database/mmdt.db3'
table_names = []
with sqlite3.connect(db_path) as conn:
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    print("Tables in the database:")
    for table in tables:
        print(table[0])   
        table_names.append(table[0])

Tables in the database:
applications
participants

In this tutorial, I am using `pandas` to read an SQLite database. The syntax of queries remains the same as with other methods. Here's how you can proceed:

### 1. Install Necessary Libraries
Ensure you have the required libraries installed. Use the following commands to install them if needed:
```bash
pip install pandas sqlalchemy

In [3]:
import pandas as pd

query = "SELECT Name, State_Region, Country FROM applications;"
df = pd.read_sql_query(query, f"sqlite:///{db_path}")

df.head(5)

             Name State_Region          Country
0     Thae Su Mar       Others  Outside Myanmar
1     Nu Wai Thet     Mandalay          Myanmar
2        Hon Saw      Mandalay          Myanmar
3  Wai Yan Tun Oo       Yangon          Myanmar
4     Thandar Zaw       Yangon          Myanmar