### Tutorial 04: Joining Table

In this tutorial, we will learn how to join tables in SQL using the participants and status tables. Joining tables allows you to combine rows from two or more tables based on a related column, which is essential for querying normalized databases.
**NOTE** The RIGHT JOIN and FULL OUTER JOIN are not supported in SQLite.


**INNER JOIN**: Combining Rows with Matching Values
An INNER JOIN returns only the rows where there is a match in both tables. If a participant has a status in the status table, the query will return that participant’s details along with their status.

**LEFT JOIN**: Including All Rows from the Left Table
A LEFT JOIN returns all rows from the left table, and the matching rows from the right table. If there is no match, NULL values are returned for columns from the right table.

**SELF JOIN**: Joining a Table with Itself
Sometimes, you may want to join a table with itself. This is known as a SELF JOIN. For example, if we want to compare the status of two participants, we can perform a self-join on the participants table.

----
**Example 1**: Get ID, Age and status of Participants from Bhutan. 

**Example 2**: Get Participants Age and Gender who are In Progress (status). All participants (both Bhutan and Myanmar) should be included. 

**Example 3**: Get All Participants who have dropped out. 

**Example 4**: Get Participants who are in progress.

**Example 5**: Compare the ages of Two Participants with the Same status

In [3]:
import sqlite3
import pandas as pd

db_path = './database/mmdt.db3'

In [13]:
query = """
            SELECT * FROM status;

        """
df = pd.read_sql_query(query, f"sqlite:///{db_path}")
df

   PARTICIPANT ID                     Status
0    mmdt2024.001                In progress
1    mmdt2024.002                In progress
2    mmdt2024.003                In progress
3    mmdt2024.004                In progress
4    mmdt2024.005                In progress
..            ...                        ...
95   mmdt2024.096                   Drop Out
96   mmdt2024.097                   Drop Out
97   mmdt2024.098                In progress
98   mmdt2024.099                In progress
99   mmdt2024.100  Delayed with Valid Reason

[100 rows x 2 columns]