### Tutorial 05: Advanced Query Techniques of CASE and Subquery

In this tutorial, we will explore two advanced SQL query techniques: CASE statements and subqueries. These powerful tools allow you to write more flexible and dynamic SQL queries, which can be incredibly useful when working with complex databases.

**CASE Statements**: Conditional Logic in Queries
The CASE statement in SQL allows you to add conditional logic to your queries. It works similarly to an if-else or switch statement in programming.

**Example 1**: Classifying Participants by Age Group
Let’s say we want to classify participants into different age groups such as:

- Youth: Age <= 24
- Young Adult: Age between 25 and 39
- ADult: Age > 40
---
**Subqueries**: Nesting Queries for Flexibility
A subquery is a query within another query. Subqueries can be used in SELECT, INSERT, UPDATE, or DELETE statements, and they allow you to perform operations like filtering, computing aggregates, or updating values based on the results of another query.

**Example 2**: Using a Subquery in a `SELECT` Clause
Let's say we want to know the average age of all participants and display it next to each participant’s information.

**Example 3**: Using a Subquery in a `WHERE` Clause
Now, suppose we want to select participants whose age is greater than the average age of all participants. This requires a subquery in the `WHERE` clause.

---

**Combining CASE and Subqueries**
You can combine both techniques for even more powerful and dynamic queries. 

**Example 4**: Display the participant’s age group along with a message indicating whether they are above or below average age.


---

In [ ]:
import sqlite3
import pandas as pd

db_path = './database/mmdt.db3'